<div class="modal-header">
    <h3 class="modal-title">AccountingMethod</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal" name="accountingMethod">
            <div class="form-group" ng-class="{'has-error': editableAccountingMethod.accountingMethod.$invalid}">
                <label for="accountingMethod" class="col-sm-3 control-label">Accounting Method</label>
                <div class="col-sm-9">
                    <input type="text" name="accountingMethod" id="accountingMethod" class="form-control" ng-required="true" autocomplete="on" ng-model="editableAccountingMethod.accountingMethod" />
                    <span class="help-block" ng-show="editableAccountingMethod.accountingMethod.$error.required">Accounting Method is required</span>
                </div> 
            </div>
       
        <div class="form-group">
            <div class="checkbox col-sm-9 col-sm-offset-3" >
                <label><input type="checkbox" name="isActive" value="isActive" ng-model="editableAccountingMethod.isActive" />Is Active</label>
            </div>
        </div>
    </form>
</div>
<div>
    <div class="col-sm-9  col-sm-offset-3">
        <a class="btn btn-sm btn-secondary" ng-click="cancelForm()"><i class="fa fa-backward icon-style"></i><span class="icon-style"><strong>Cancel</strong></span></a>
        <a class="btn btn-sm btn-primary" ng-click="submitForm()"><i class="fa fa-save icon-style"></i><span class="icon-style"><strong>Save</strong></span></a>

    </div>
</div>