<div class="modal-header">
    <h3 class="modal-title">InvoiceStatus</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal" name="invoiceStatus">
            <div class="form-group" ng-class="{'has-error': editableInvoiceStatus.invoiceStatus.$invalid}">
                <label for="invoiceStatus" class="col-sm-3 control-label">Invoice Status</label>
                <div class="col-sm-9">
                    <input type="text" name="invoiceStatus" id="invoiceStatus" class="form-control" ng-required="true" autocomplete="on" ng-model="editableInvoiceStatus.invoiceStatus" />
                    <span class="help-block" ng-show="editableInvoiceStatus.invoiceStatus.$error.required">Invoice Status is required</span>
                </div>
            </div>
       
        <div class="form-group">
            <div class="checkbox col-sm-9 col-sm-offset-3" >
                <label><input type="checkbox" name="isActive" value="isActive" ng-model="editableInvoiceStatus.isActive" />Is Active</label>
            </div>
        </div>
    </form>
</div>
<div>
    <div class="col-sm-9  col-sm-offset-3">
        <a class="btn btn-sm btn-secondary" ng-click="cancelForm()"><i class="fa fa-backward icon-style"></i><span class="icon-style"><strong>Cancel</strong></span></a>
        <a class="btn btn-sm btn-primary" ng-click="submitForm()"><i class="fa fa-save icon-style"></i><span class="icon-style"><strong>Save</strong></span></a>

    </div>
</div>