<div class="modal-header">
    <h3 class="modal-title">Country</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal" name="country">
            <div class="form-group" ng-class="{'has-error': editableCountry.countryName.$invalid}">
                <label for="countryName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" name="countryName" id="countryName" class="form-control" ng-required="true" autocomplete="on" ng-model="editableCountry.countryName" />
                    <span class="help-block" ng-show="editableCountry.countryName.$error.required">Name is required</span>
                </div>
            </div>
        <div class="form-group" ng-class="{'has-error': editableCountry.countryCode.$invalid}">
            <label for="countryCode" class="col-sm-3 control-label">Code</label>
            <div class="col-sm-9">
                <input type="text" name="countryCode" id="countryCode" class="form-control" ng-required="true" autocomplete="on" ng-model="editableCountry.countryCode" />
                <span class="help-block" ng-show="editableCountry.countryCode.$error.required">Code is required</span>
            </div>
        </div>
        <div class="form-group">
            <!--<div class="col-sm-3">&nbsp;</div>-->
            <div class="checkbox col-sm-9 col-sm-offset-3" >
                <label><input type="checkbox" name="isActive" value="isActive" ng-model="editableCountry.isActive" />Is Active</label>
            </div>
        </div>
</form>
</div>
<div>
    <div class="col-sm-9  col-sm-offset-3">
        <input type="button" class="btn btn-secondary" value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitForm()" />
    </div>
</div>